<div>
  <button (click)="toggleProductDetail()">ABRIR</button>
</div>

<div class="products--grid">
  <!--app-product componente especial para renderizar el producto en donde a travez de input y output tenemos comunicacion
  
  -->
  <app-product [product]="product" *ngFor="let product of products" 
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"></app-product>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  <div *ngIf="productChosen">
    <button (click)="toggleProductDetail()">CERRAR</button>
    <h1>{{productChosen.title}}</h1>
    <swiper [slidesPerView]="1">
      <ng-template swiperSlide *ngFor="let img of productChosen.images">
        <img [src]="img" alt="">
      </ng-template>
    </swiper>
    <h1>{{productChosen.description}}</h1>
  </div>
</div>
